/* Estilos Generales */

@font-face{
  font-family: D-Dtitle;
  src: url(../fonts/BreatheFireIii-PKLOB.ttf);
}
@font-face{
  font-family: RoundStyle-Book;
  src: url(../fonts/RoundStyle-Book.ttf);
}
:root {
  --amarillo_claro: #FFFEBD;
  --amarillo_oscuro: #FFE071;
  --marron_claro: #880404;
  --marron_oscuro: #290000;
  --negro: #000000; 
}
body {
  margin: 0;
  background-color: var(--amarillo_claro); 
}
h1 {
  color: var(--marron_claro);
  font-family: D-Dtitle;
  font-size: 80px;
  text-align: center;
  letter-spacing: 10px;
  text-shadow: 10px 10px 5px var(--amarillo_oscuro);
}
h2 {
  color: #880404;
  font-family: D-Dtitle;
  font-size: 60px;
  text-align: center;
  letter-spacing: 3px;
}
h3{
  font-family: D-Dtitle;
  font-size: 32px;
  letter-spacing: 3px;
}
h4 {
  font-family: D-Dtitle;
  font-size: 28px;
  letter-spacing: 3px;
}
p, input, a, select {
  font-family: RoundStyle-Book;
  font-size: 20px;
  text-decoration: none;
}
label {
  font-family: RoundStyle-Book;
  color: (--amarillo_claro);
}
input[type="date"]:hover {
  cursor: pointer;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* index.php */

#logo-dnd {
  height: 200px;
  width: auto;
  float: left;
  padding: 10px;
}
#index .row > div {
  background-color: var(--marron_oscuro);
  color: var(--amarillo_claro);
  border: 5px solid var(--amarillo_claro);
  box-shadow: 0px 0px 0px 10px var(--marron_oscuro);
  width: 40vw;
  padding: 40px;
}
.form-login h2 {
  color: var(--marron_claro);
}
.form-login > form{
  display: flex;
  flex-direction: column;
}
.form-login input[type="text"], .form-login input[type="password"]{
  font-size: 24px;
  border: none;
  padding: 10px;
  background-color: var(--amarillo_claro);
}
.form-login input:first-child {
  margin-bottom: 20px;
}
.form-login a {
  color: var(--amarillo_claro);
  transition: color 1s;
}
.form-login a:hover{
  color: var(--marron_claro);
  transition: color 1s;
}
.form-login input[type="submit"] {
  width: 40%;
  margin: 30px auto 0;
  padding: 10px;
  border: none;
  border-radius: 25px;
  background-color:var(--marron_claro);
  color: var(--amarillo_claro);
  transition: color 1s, background-color 1s;
}
.form-login input[type="submit"]:hover {
  cursor: pointer;
  background-color:var(--amarillo_claro);
  color: var(--marron_oscuro);
  transition: color 1s, background-color 1s;
}
.form-login > a {
  display: block;
  text-align: center;
  margin-top: 30px;
}

#index .row {
  margin-bottom: 100px;
}

/* register.php */

.formularioRegistro {
  background-color: var(--marron_oscuro);
  color: var(--amarillo_claro);
  border: 5px solid var(--amarillo_claro);
  box-shadow: 0px 0px 0px 10px var(--marron_oscuro);
  width: 40vw;
  padding: 40px;
  margin: 0 auto 100px;
}
.formularioRegistro > form {
  display: flex;
  flex-direction: column;
}
.formularioRegistro > form  input {
  margin-bottom: 20px;
  padding: 10px;
}
.formularioRegistro > form > div {
  display: flex;
  flex-direction: column;
}
.formularioRegistro input[type="submit"] {
  width: 40%;
  margin: 30px auto 0;
  padding: 10px;
  border: none;
  border-radius: 25px;
  background-color:var(--marron_claro);
  color: var(--amarillo_claro);
  transition: color 1s, background-color 1s;
}
.formularioRegistro input[type="submit"]:hover {
  cursor: pointer;
  background-color:var(--amarillo_claro);
  color: var(--marron_oscuro);
  transition: color 1s, background-color 1s;
}
.formularioRegistro p {
  text-align: center;
  margin-top: 50px;
}
.formularioRegistro a {
  color: var(--marron_claro);
  transition: color 1s;
}
.formularioRegistro a:hover {
  color: var(--amarillo_claro);
  transition: color 1s;
}

/* dashboard.php */

#section-dashboard {
  min-height: 60vh;
}
.dashboardButtons {
  display: flex;
  justify-content: space-around;
}
#section-dashboard .container-btn {
  width: 300px;
  margin-top: 20px;
  margin-bottom: 100px;
  background-color: var(--marron_oscuro);
  border: 5px solid var(--amarillo_claro);
  box-shadow: 0px 0px 0px 10px var(--marron_oscuro), 0px 0px 10px 0px var(--marron_claro);;
  padding: 20px;
  transition: background-color 1s, border-color 1s, box-shadow 1s;
}
#section-dashboard .img-btn, #section-dashboard img {
  height: 475px;
  overflow: hidden;
}
#section-dashboard img {
  transform: translate(-35%);
}
#section-dashboard p {
  text-align: center;
  color: var(--amarillo_claro);
  transition: color 1s;
}
#section-dashboard .container-btn:hover p {
  color: var(--marron_oscuro);
  transition: color 1s;
}
#section-dashboard .container-btn:hover {
  background-color: var(--amarillo_oscuro);
  border-color: var(--marron_claro);
  box-shadow: 0px 0px 0px 10px var(--amarillo_oscuro), 0px 0px 20px 20px var(--marron_claro);;
  transition: background-color 1s, border-color 1s, box-shadow 1s;
  animation: animacionBoton 4s 1s infinite;
}
@keyframes animacionBoton {
  0% { box-shadow: 0px 0px 0px 10px var(--amarillo_oscuro), 0px 0px 20px 20px var(--marron_claro);}
  50% { box-shadow: 0px 0px 0px 10px var(--amarillo_oscuro), 0px 0px 10px 0px var(--marron_claro);}
  100% { box-shadow: 0px 0px 0px 10px var(--amarillo_oscuro), 0px 0px 20px 20px var(--marron_claro);}
}

/* tusFichas.php */

.section-personajes > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5vw;
  padding: 5vw;
  padding-top: 0;
}
.marco-personaje {
  width: 300px;
  background-color: var(--marron_oscuro);
  padding: 50px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0 5px var(--amarillo_claro), 0 0 0 10px var(--marron_oscuro);
}
.img-wrapper {
  border:5px solid var(--amarillo_claro);
  overflow: hidden;
  width: 300px;
  height: 300px;
}
.marco-personaje img {
  width: 150%;
}
.marco-personaje p {
  color: var(--amarillo_claro);
  font-size: 24px;
}
.botones-ficha {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.botones-ficha a {
  text-decoration: none;
  color: var(--amarillo_claro);
  background-color: var(--marron_claro);
  padding: 15px;
  border-radius: 50px;
  transition: color 1s, background-color 1s;
  font-size: 16px;
  font-weight: bold;
}
.botones-ficha a:hover {
  color: var(--marron_oscuro);
  background-color: var(--amarillo_oscuro);
  transition: color 1s, background-color 1s;
}
a.borrar {
  pointer-events: none;
  color: white;
  background-color: black;
}

/* crearPersonaje.php */
#crearPersonajeForm {
  margin: 0 10%;
  padding: 50px;
  background-color: var(--marron_oscuro);
  border: 5px solid var(--amarillo_claro);
  box-shadow: 0px 0px 0px 10px var(--marron_oscuro);
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
#crearPersonajeForm button {
  width: 300px;
  height: 75px;
  font-size: 20px;
  margin: 50px auto 0;
  background-color: var(--marron_claro);
  color: var(--amarillo_claro);
  border-radius: 50px;
  border: none;
  font-family: RoundStyle-Book;
  transition: color 1s, background-color 1s;
}
#crearPersonajeForm button:hover {
  background-color: var(--amarillo_claro);
  color: var(--marron_oscuro);
  transition: color 1s, background-color 1s;
}
#crearPersonajeForm p, #crearPersonajeForm h3, #crearPersonajeForm h4 {
  color: var(--amarillo_claro);
}
#crearPersonajeForm #nombreForm {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
#crearPersonajeForm input {
  background-color: var(--amarillo_claro);
  color: var(--marron_oscuro);
  border: none;
  padding: 10px;
  font-size: 24px;
}
#crearPersonajeForm select:hover, #crearPersonajeForm button:hover {
  cursor: pointer;
}
#sectionRaza select {
  width: 70%;
  background-color: var(--amarillo_claro);
  color: var(--marron_oscuro);
  padding: 10px;
  font-size: 24px;
  border: none;
}
#grid-container-raza {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}
#grid-container-raza .grid-item-1 {
  grid-column: 1/3;
}

#grid-container-raza .grid-item-5 {
  grid-area: 3 / 1 / 4 / 4;
}
#grid-container-raza .grid-item-5 > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}
#grid-container-raza .grid-item-5 > div > div{
  width: 350px;
  flex-grow: 1;
}
#navegacionRaza{
  display:flex;
}

/* ficha.php */

#ficha div{
  border: 1px solid black ;
  margin: 3px;
  padding: 3px;
}

#ficha h1{
  font-size: 44px;
  letter-spacing: 1px;
}

#cabeceraFicha{
  display: flex;
  flex-wrap: wrap;
}
#nombreFicha{
 width: 49%;
}

#cabeceroDerecho{
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 48%;
}
#cabeceroDerecho div{
  width: 200px;
}
#cabeceroDerecho div h3{
  font-size: 16px;
  text-align: center;
}
#cabeceroInferior{
  width: 100% ;
  display: flex;
}
#hitPoints{
  width: 30%;
  justify-self: flex-end;
}
div#cabeceraFicha div.flexHorizontal{
  width: 100%;
}
#estadisticas{
  display: flex;
  justify-content: space-around;
  width: 49%;
}
#estadisticas div{
  width: 60px;
  height: 60px;
}
#centroFicha{
  display: flex;
  justify-content: space-around;
  width: 99%;
}
#colIzquierdaFicha{
  display: flex;
  flex-direction: column;
  width: 33%;
}

.listaColIzquierdaFicha{
  display: flex;
  justify-content: center;
}
.listaColIzquierdaFicha ul{
  list-style-type: none;
  width: 100%;

}
.listaColIzquierdaFicha li{
  border: 1px solid black;
  margin: 5px;
}
#tiradasSalvacion{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#tiradasSalvacion div{
  width: 30%;
}
#centroDerechaFicha{
  display: flex;
  flex-direction: column;
  width: 66%;
}
#centroDerechaInferiorFicha{
  display: flex;
  flex-direction: row;
}
#defensasCondiciones{
  display: flex;
}
#habilidades{
  display: flex;
  justify-content: center;
}
#habilidades table{
  width: 100%;
}





/* Componentes CSS */

.alert {
  padding: 20px;
  text-align: center;
  color: white;
  opacity: 1;
  position: absolute;
  z-index: 10;
  bottom: 5vw;
  left: 30%;
  right: 30%;
  transition: opacity 1s;
  margin-bottom: 15px;
  animation: alerta 1s ;
}
.alert.error {background-color: #f44336;}
.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
div.dashboardButtons button{
  width: 25vw;
  height: 10vw;
  margin: 0 2vw;
  border-radius: 30px;
  border-color: #290000;
  background-color: #FFE071;
  font-size: 36px;
  transition: box-shadow 2s ;
}
.closebtn:hover {
  color: black;
}
@keyframes alerta {
  0% {bottom: 0vw;}
  100% {bottom: 5vw;}  
}

/* Estilos del header y footer */

header, footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  max-width: 100vw;
  height: 10vh;
  position: relative;
}
header:before, footer:before {
  content:"";
  background-image: url("imagenes/pagina/paper.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
header > nav {
  flex-grow: 1;
}
header img {
  width: 66px;
  height: 66px;
}
header p {
  padding-right: 30px;
}
header p, header a {
  font-size: 28px;
  color: #FFFEBD;
  text-decoration: none;
  transition: color 1s;
  position: relative;
}
header a:hover {
  color: #880404;
  transition: color 1s;
} 
header > nav ul {
  display:flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 25px;
}
header > nav li {
  color: #FFFEBD;
  list-style-type: none;
}
.header-flex {
  padding: 50px;
}
footer {
  height: auto;
}
.footer-autores, .footer-git {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 30px;
}
.logo-ieti {
  height: 150px;
  width: auto;
}
footer h3 {
  font-size: 28px;
  color: #FFFEBD;
}
footer p {
  font-size: 22px;
  color: #FFFEBD;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
footer a {
  text-decoration: none;
}
.footer-colegio h3 {
  text-align: center;
}
.footer-autores > div {
  display: flex;
  align-items: center;
  flex-direction: row;
}
i {
  font-size: 28px !important;
  margin-left: 25px;
}
.footer-git i {
  font-size: 164px !important;
}
.fa-twitter {
  color: #00ACEE;
  transition: color 1s;
}
.fa-github {
  color: white;
  transition: color 1s;
}

.fa-twitter:hover {
  color: var(--amarillo_oscuro);
  transition: color 1s;
}
.fa-github:hover {
  color: var(--amarillo_oscuro);
  transition: color 1s;
}



