/* Colores para toda la pagina */
@font-face{
  font-family: D-Dtitle;
  src: url(../fonts/BreatheFireIii-PKLOB.ttf);
}
@font-face{
  font-family: RoundStyle-Book;
  src: url(../fonts/RoundStyle-Book.ttf);
}

html * {
  font-family: RoundStyle-Book;
}

body {
  margin: 0;
}

h1{
  color: #880404;
  font-family: D-Dtitle;
  font-size: 5vw;
  text-align: center;
}
h2{
  color: #880404;
}
a:link{
  color: blue;
}

a:hover{
  color: blue;
}
/* Empieza el estilo de la Home Page */

  body{
    background-color: #FFFEBD;  
  }
  #contenedorCuerpo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
  }
  .contTitle{
        width: 100vw;
        justify-content: center;
        display: flex;
        
      }
    /* Contenido la box de la izquierda de Home Page */
      .divImgHomePage{
        width: 100vw;
        text-align: right;
      }
      .imgHomePage{
        width: 20%;
        height: 70%;
        margin: 5% 15% 0% 0%;
      }
      .txtDesc{
        margin: 0% 4% 4% 4%;
      }

      /* Contenido la box de la derecha de Home Page */

      .contenedorInfo{
        width: 35vw;
        display: flex;
        margin-top: 3vh;
        background-color: green;
        justify-content: center;
        text-align: justify;
        flex-wrap: wrap;
        background-color: #FFE071;
      }

          .titleInfoHomePage{
            width: 100vw;
            text-align: center;
            margin-bottom: 1vw;
          }
          .homePagForm{
            text-align: center;
            width: 100vw;
          }
          .titleInpForm { 
            margin: 0px;
          }
          form input:first-of-type{
            margin-bottom: 7%;
          }
          .linkPswForgot{
            margin: 0px;
            text-align: left;
            margin-left: 27%;
          }
          a{
            font-size: 0.9vw;
          }
          .loginButton{
            margin-top: 5%;
            text-align: center;
            width: 100%;
          }

          .newAccBtn{
            text-align: right;
            margin: 0 2% 1% 0;
            width: 100vw;
          }

/*Estilos del dashboard*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  width: 100vw;
  height: 10vh;
}

header > nav {
  flex-grow: 1;
}

header img {
  width: 66px;
  height: 66px;
}

header p, header a {
  font-size: 28px;
  color: #FFFEBD;
  text-decoration: none;
  transition: color 1s;
  position: relative;
  cursor: pointer;
}

header a:hover {
  color: #880404;
  transition: color 1s;
} 

header p:after {
  content: "";
  border: 0 solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #FFFEBD;
  margin-left: 15px;
  position: absolute;
  top: 40%;
  transform: rotate(-90deg);
}

header > nav ul {
  display:flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 25px;
}

header > nav li {
  color: #FFFEBD;
  list-style-type: none;
}

.header-flex {
  padding: 50px;
}

div.dashboardButtons{
  display: flex;
  justify-content: center;
  align-content: flex-start;
  margin: 0 auto;
}
div.dashboardButtons button{
  width: 25vw;
  height: 10vw;
  margin: 0 2vw;
  border-radius: 30px;
  border-color: #290000;
  background-color: #FFE071;
  font-size: 36px;

}

